* {
  box-sizing: border-box; /* width và height của element sẽ được tính là contain + padding + border chứ không phải mỗi contain */
  margin: 0; /* bỏ margin mặc định của 1 vài element như html, body, ... */
  padding: 0;
  font-family: sans-serif;
}

img {
  width: 100%; /* cho hình chỉ lắp đầy container của nó chứ không phóng theo size */
  vertical-align: middle; /* giúp hình không bị khoảng trắng nhỏ bên dưới */
}

ul {
  padding: 0;
}

a {
  text-decoration: none;
}

button {
  outline: none;
  border: 0;
}

$base-color: rgb(15, 158, 216);
$aside-size: 15vw;

html {
  body {
    header {
      display: flex;
      justify-content: space-between;
      font-size: 0.75em;
      padding: 0 18vw;
      background-color: lightgrey;
      .logo {
        border: 1px solid black;
        padding: 0;
        min-height: 100%;
        width: 15vw;
      }
      .search {
        display: flex;
        // align-items: center;
        padding: 4vh 0; //Dùng padding thay cho align-items, bởi vì vậy thì nút sẽ cùng height với input.
        input {
          padding: 15px;
          outline: 0;
          width: 30vw;
        }
        button {
          height: 58px;
          padding: 0 1.5em;
          background-color: $base-color;
          color: white;
        }
      }
      .account {
        display: flex;
        align-items: center;
        .account-icon {
          border: 1px solid black;
          width: 50px;
          height: 50px;
          margin-right: 0.5vw;
        }
      }
      .cart {
        display: flex;
        align-items: center;
        .cart-icon {
          border: 1px solid black;
          width: 50px;
          height: 50px;
          margin-right: 0.5vw;
        }
        .cart-info {
          p {
            margin: 0;
          }
        }
      }
    }
    nav {
      background-color: $base-color;
      padding: 0 18vw;
      color: white;
      display: flex;
      .aside-top {
        padding: 1.6vh 1vw;
        width: $aside-size;
        font-weight: bold;
        background-color: rgb(0, 112, 157);
        margin-right: 1vw;
      }
      ul {
        list-style-type: none;
        margin: 0;
        li {
          display: inline-block;
          padding: 15px;
          &:hover {
            cursor: pointer;
          }
        }
      }
    }
    main {
      padding: 0 18vw;
      section {
        &.top-section {
          display: flex;
          justify-content: space-between;
          margin-bottom: 2vh;
          ul {
            width: $aside-size;
            list-style-type: none;
            border-left: 1px solid grey;
            border-right: 1px solid grey;
            margin: 0;
            li {
              border-bottom: 1px solid grey;
              padding: 0.6vh 1vw;
            }
          }
          .carousel {
            min-width: 75%;
            border: 1px solid black;
          }
        }

        &.features {
          display: flex;
          justify-content: space-between;
          margin-bottom: 2vh;
          .feature {
            min-width: 31%;
            padding: 3vh 1vw;
            border: 1px solid black;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            .feature-img {
              min-width: 50px;
              min-height: 50px;
              border: 1px solid black;
            }
            div {
              .text-bold {
                font-weight: bold;
              }
              .text-grey {
                font-size: 0.7em;
                color: grey;
              }
            }
          }
        }

        &.products {
          display: flex;
          justify-content: space-between;
          margin-bottom: 2vh;
          aside {
            width: $aside-size;
            .big-img {
              height: 400px;
              border: 1px solid black;
              margin-bottom: 2vh;
            }
            .small-img {
              height: 200px;
              border: 1px solid black;
              margin-bottom: 2vh;
            }
            .news {
              border-radius: 3px;
              overflow: hidden;
              border: 1px solid $base-color;
              & > p {
                color: white;
                background-color: $base-color;
                padding: 10px;
              }
              article {
                margin: 15px;
                border-bottom: 1px solid lightgrey;
                padding-bottom: 2vh;
                & > div {
                  width: 100px;
                  height: 100px;
                  border: 1px solid black;
                  margin: 0 31% 1vh;
                }
                p {
                  &.title {
                    font-weight: bold;
                  }
                  span {
                    text-decoration: line-through;
                  }
                }
                button {
                  padding: 7.5px;
                }
              }
            }
          }
          .flex-layout {
            border: 1px solid black;
            min-width: 75%;
            .categories {
              margin-bottom: 2vh;
              .banner {
                height: 300px;
                border: 1px solid black;
                margin-bottom: 2vh;
              }
              .category-name {
                padding: 1vh;
                border: 1px solid black;
                text-align: center;
                margin-bottom: 2vh;
              }
              .products-grid {
                display: grid;
                grid-template-columns: auto auto auto auto;
                gap: 10px 10px;
                margin-bottom: 2vh;
                .product {
                  border: 1px solid black;
                  border-radius: 3px;
                  height: 300px;
                }
              }
              .more {
                text-align: center;
              }
            }
          }
        }
      }
    }
    footer {
    }
  }
}
