* {
  box-sizing: border-box; /* width và height của element sẽ được tính là contain + padding + border chứ không phải mỗi contain */
  margin: 0; /* bỏ margin mặc định của 1 vài element như html, body, ... */
  padding: 0;
  font-family: sans-serif;
}

img {
  width: 100%; /* cho hình chỉ lắp đầy container của nó chứ không phóng theo size */
  vertical-align: middle; /* giúp hình không bị khoảng trắng nhỏ bên dưới */
}

ul {
  padding: 0;
}

a {
  text-decoration: none;
}

button {
  outline: none;
  border: 0;
}

$base-color: rgb(15, 158, 216);

html {
  body {
    header {
      display: flex;
      justify-content: space-between;
      font-size: 0.75em;
      padding: 0 18vw;
      background-color: lightgrey;
      .logo {
        border: 1px solid black;
        padding: 0;
        min-height: 100%;
        width: 15vw;
      }
      .search {
        display: flex;
        // align-items: center;
        padding: 4vh 0; //Dùng padding thay cho align-items, bởi vì vậy thì nút sẽ cùng height với input.
        input {
          padding: 15px;
          outline: 0;
          width: 30vw;
        }
        button {
          height: 58px;
          padding: 0 1.5em;
          background-color: $base-color;
          color: white;
        }
      }
      .account {
        display: flex;
        align-items: center;
        .account-icon {
          border: 1px solid black;
          width: 50px;
          height: 50px;
          margin-right: 0.5vw;
        }
      }
      .cart {
        display: flex;
        align-items: center;
        .cart-icon {
          border: 1px solid black;
          width: 50px;
          height: 50px;
          margin-right: 0.5vw;
        }
        .cart-info {
          p {
            margin: 0;
          }
        }
      }
    }
    nav {
      background-color: $base-color;
      padding: 0 18vw;
      color: white;
      .aside-top {
        padding: 1.6vh 1vw;
        width: 15vw;
        font-weight: bold;
        background-color: rgb(0, 112, 157);
        display: inline-block;
        margin-right: 1vw;
      }
      ul {
        list-style-type: none;
        display: inline-block;
        margin: 0;
        li {
          display: inline-block;
          padding: 15px;
          &:hover {
            cursor: pointer;
          }
        }
      }
    }
    main {
    }
    footer {
    }
  }
}
